*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: palevioletred;
}
.container{
    background: #fff;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
.text{
    text-transform: capitalize;
}
.sec-text{
    background: ;
    position: relative;
    color: green;
}
.sec-text::before{
    content: '';
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;
    background: #fff;
    animation: ani 4s steps(12) infinite;
}
@keyframes ani{
    40%,60%{
        left: 100%;
    }
    100%{
        left: 0;
    }
}